*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.allTask{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tacheList{
    display: flex;
    align-items: center;
}
.entete{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.ajoutInput{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
    color: darkgreen;
}

.AjoutBouton{
    background-color: darkgreen;
    min-width: 100px;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   border: none;
   cursor: pointer;
}

.icon{
    font-size: 50px;
}

ion-icon{
    width: 50px;
    height:50px ;
    font-size: xx-small;
    margin: 10px;
    cursor: pointer;
}


.valider{
    opacity: 0.4;
}

.valider2{
    color: darkgreen;
}

@media (max-width: 800px){
    .ajoutInput{
        width: 300px;
    }
}