*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.entete{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.ajoutInput{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
}

.AjoutBouton{
    background-color: darkgreen;
    min-width: 100px;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   border: none;
   cursor: pointer;
}